@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    
    <div class="col-md-4">
        <h2>Grade Sheet</h2>
        <p class="">You're still not Authorized'</p>
    </div>
    
    
    
</div>