@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Students Managment</h2>
        <p class="btn btn-default">@Html.ActionLink("Students", "Index", "Students") &raquo;</p>
    </div>
    
</div>